{% extends "_layouts/elementindex" %}
{% set title = "Ratings"|t('thumbsup') %}
{# {% set selectedSubnavItem = 'foo' %} #}
{% set context = 'index' %}
{% set elementType = 'raitisg\\thumbsup\\elements\\Vote' %}


{% block content %}

	{# {% set entries = craft.entries.section('faq').all %} #}
	{# <ul> #}
	{# {% for entry in entries %} #}
	{# <li>{{ entry.title }}</li> #}
	{# {% endfor %} #}
	{# </ul> #}

	<div class="main">
		<div class="elements"></div>
	</div>

{% endblock %}
