{% import '_includes/forms' as forms %}

<h2>Voting Settings</h2>

{{ forms.checkbox({
	label: raw("<strong>Allow downvoting</strong>"|t),
	id: 'allowDownvoting',
	name: 'allowDownvoting',
	checked: settings.allowDownvoting
}) }}

<p>Sometimes it doesn't make sense to give users the option to downvote something. In those cases, downvoting can be disabled.</p>

{{ forms.checkbox({
	label: raw("<strong>Allow vote removal</strong>"|t),
	id: 'allowVoteRemoval',
	name: 'allowVoteRemoval',
	checked: settings.allowVoteRemoval
}) }}

<p>Occasionally users will change their mind after voting. This option allows them to "take back" their vote.</p>

<hr />

<h2>Data Preloading</h2>

{{ forms.checkbox({
	label: raw("<strong>Preload voting data</strong>"|t),
	id: 'preload',
	name: 'preload',
	checked: settings.preload
}) }}

<p>If checked, all data (vote tallies, etc) will be automatically populated when a page is fully loaded. You can disable this if you'd like to load the data manually.</p>

<p><strong>Manually load all voting data into a page via JavaScript...</strong></p>

<pre class="pane"><code>thumbsup.pageSetup()</code></pre>

<p>If the data is still not loading, check to ensure that you are not getting any JavaScript errors in the browser console. Even errors from outside of the plugin can prevent it from properly loading the data, if those errors occur before the ThumbsUp JS has had a chance to run.</p>

<hr />
